@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.mui-label{
  position: relative;
  top: 10px;
}

.mui-tb-div>div{
  width: 100%;
}